@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
    background-color: #d1ffff;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
    font-weight: 600;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #d1ffff;
}